{% extends "base.html" %}

{% block content %}

    <center>
        <form action="/submit" id="textform" method="post">
            <textarea name="content" rows="4" cols="50" placeholder="Just write whatever you want to..."></textarea>
            <br>
            <input type="text" name="author" placeholder="Your name">
            <input type="submit" value="Post">
        </form>
    </center>

    <a href="{{node_address}}/mine" target="_blank"><button>Request to mine</button></a>
    <a href="/"><button>Resync</button></a>
    
    {% for post in posts %}
    <div style="border: 1px solid #333;" class="post_box">
		<div class="post_box-header">
	    	<div class="post_box-options"><button class="option-btn">Reply</button></div>
	    	<div class="name-header">author: {{post.author}}</div>
		</div>
		<div>
	    	<div class="post_box-body">
	        	<p>content: {{post.content}}</p>
	    	</div>
		</div>
		<div>
			<p>Posted at <i>{{readable_time(post.timestamp)}}</i></p>
	   </div>
	</div>
	{% endfor %}

{% endblock %}